openapi: 3.1.0
info:
  title: BlackArrow Positions
  version: 1.0.0
  description: REST API for retrieving real-time and end-of-day BlackArrow positions.

servers:
  - url: https://gateway.zeromarketsapi.com

tags:
  - name: Positions
    description: Position snapshots and aggregation helpers.

security:
  - ApiKeyAuth: []

paths:
  /blackarrow/api/v1/positions:
    get:
      tags: [Positions]
      operationId: listPositions
      summary: Retrieve open positions for the specified accounts.
      description: |
        Returns the latest snapshot of positions filtered by account, symbol, or regulator.
        Combine filters to narrow the result set. Use pagination when requesting
        large account lists.
      parameters:
        - name: accountIds
          in: query
          description: CSV list of account IDs. Maximum 50 per call.
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int64
          example: 8001001,8001002
        - name: symbol
          in: query
          description: Optional instrument code for filtering.
          schema:
            type: string
          example: XAUUSD
        - name: includeClosed
          in: query
          description: Whether to include closed positions (default false).
          schema:
            type: boolean
            default: false
        - name: regulator
          in: query
          description: Optional regulator code to scope positions.
          schema:
            type: string
          example: ASIC
        - name: pageNo
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
          description: Page number for pagination.
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 200
            minimum: 1
            maximum: 1000
          description: Page size for pagination.
      responses:
        '200':
          description: Positions retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
              examples:
                success:
                  $ref: '#/components/examples/PositionsSuccess'
        '400':
          description: Invalid filters supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalidAccount:
                  summary: Missing account IDs
                  value:
                    code: 40010
                    message: accountIds cannot be empty
        '401':
          description: Unauthorized - Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  $ref: '#/components/examples/UnauthorizedError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                throttled:
                  summary: Too many requests
                  value:
                    code: 42900
                    message: rate limit exceeded, retry later
      x-codeSamples:
        - lang: bash
          label: Fetch positions
          source: |
            curl --request GET \
              --url 'https://gateway.zeromarketsapi.com/blackarrow/api/v1/positions?accountIds=8001001,8001002&symbol=XAUUSD' \
              --header 'Authorization: Bearer <token>'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

  schemas:
    Position:
      type: object
      properties:
        accountId:
          type: integer
          format: int64
        symbol:
          type: string
        regulator:
          type: string
        volume:
          type: number
          description: Net position volume in lots.
        avgPrice:
          type: number
          description: Weighted average open price.
        pnl:
          type: number
          description: Floating PnL in account currency.
        swap:
          type: number
          description: Accrued swap.
        lastUpdate:
          type: integer
          format: int64
          description: Unix timestamp (ms) of the snapshot.
    PositionsResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            pageNo:
              type: integer
            pageSize:
              type: integer
            total:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Position'
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string

  examples:
    PositionsSuccess:
      value:
        code: 0
        message: success
        data:
          pageNo: 1
          pageSize: 2
          total: 2
          items:
            - accountId: 8001001
              symbol: XAUUSD
              regulator: ASIC
              volume: 1.5
              avgPrice: 2365.5
              pnl: 154.23
              swap: -1.2
              lastUpdate: 1732089600000
            - accountId: 8001002
              symbol: EURUSD
              regulator: FCA
              volume: -0.5
              avgPrice: 1.0852
              pnl: -23.44
              swap: 0.0
              lastUpdate: 1732089600000
    UnauthorizedError:
      value:
        code: 40100
        message: unauthorized

